# Ignore submission files
chaider_hw*

# Ignore homework specifications
hw5.pdf
!**/images/*.pdf
hw*.tex
domain_adaptation.jpg
hw*_skeleton.zip

# Ignore data and log files
**/data/*
**/logs/*
**/model.pth
