# Ignore submission files
chowdhurymohammadrakin_haider_hw*

# Ignore homework specifications
CS690_DPL_HW3.pdf
!**/images/*.pdf
hw*.tex
hw*_skeleton.zip

# Ignore data and log files
**/Data/*
**/logs/*
